* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
<<<<<<< HEAD
  font: 'Arial', sans-serif;
=======
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
>>>>>>> 963be07 (Start componentization)
}